:root{
    --pink: #e99ba6;
    --dark-pink: #ffd9de;
}   

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(var(--pink),var(--dark-pink));
}

.container{
    background-color: white;
    max-width: 700px;
    width: 100%;
    border: 1px solid black;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 6px 6px 9px;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}

.title-form{
    font-size: 30px;
    margin-bottom: 10px;
}

.container form .input-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

/* Creating invisible borders in between */
form .input-container .input-box{
    width: calc(100% / 2 - 20px);
    display: flex;
    flex-direction: column;
    margin: 15px 10px;
}

form .input-container .input-box input{
    margin-top: 15px;
    padding: 5px;
}   

form .input-container .input-box label{
    font-size: 1.2em;
    font-weight: 700;
}

.radio-buttons{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

#submit{
    padding: 10px;
    width: 100%;
    margin-top: 15px;
    border-radius: 8px;
    color: rgb(46, 46, 46);
    font-weight: 800;
    font-size: 20px;
    background-image: linear-gradient(var(--pink),var(--dark-pink));
}

